* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #0b456b, #021c37);
}

/* Clock container */
.clock {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #05263c, #000d1a);
    overflow: hidden; /* Ensures nothing overflows from the circle */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Outer glowing border */
.clock::before {
    content: "";
    width: 525px;
    height: 525px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, #00d9ff, #ee00ff);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: -2;
}



/* Clock numbers */
.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: red;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

/* Center dot in the middle of the clock */
.center-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    z-index: 10;
}

/* Clock hands */
.hour-hand, .minute-hand, .second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    border-radius: 6px;
    z-index: 2; /* Ensuring hands are above image */
}

/* Hour hand */
.hour-hand {
    width: 12px;
    height: 130px;
    background-color: black;
}

/* Minute hand */
.minute-hand {
    width: 8px;
    height: 190px;
    background-color: blue;
}

/* Second hand */
.second-hand {
    width: 4px;
    height: 210px;
    background-color: red;
}